@import "tailwindcss";

@theme{
  --breakpoint-3xl: 120rem;
};

:root {
  --dark: #050505;
  --light: #ffffff;
  --orange: #fca311;
  --green: #70e000;
  --purple: #7b2cbf;
  --blue: #56cfe1;
  --color-1: #080808;
  --color-2: #101010;
  --color-3: #555;
  --color-4: #ffee32;
  --color-5: #d6d6d6;
  --color-6: #41ead4;
  --color-7: #fbff12;
  --color-8: #ff206e;
  --color-9: #dc2f02;
  --color-10: #6a040f;
  --color-11: #f48c06;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-bar{
  max-height: 30%;
  border-bottom: 1px solid var(--green);
  border-top: 1px solid var(--green);
  scrollbar-color: var(--green) var(--color-1);
}

.active-gradient{
  background: linear-gradient(90deg, #4cc9f0, #4895ef, #4361ee, #3f37c9);
  -webkit-background-clip: text;
  background-clip: text;
  color: blue;
}

.bg-dark{
  background: var(--color-1);

}

.border-hover{
  border: 2px solid var(--color-5);
}

.border-hover-aside{
  border: 2px solid var(--color-5);
}

.border-hover-close{
  border-left: 2px solid var(--color-5);
  border-bottom: 2px solid var(--color-5);
  border-radius: 0 0 0 15px;
}

.border-hover-open{
  border-right: 2px solid var(--color-5);
  border-bottom: 2px solid var(--color-5);
  border-radius: 0 0 15px 0;
}


.border-hover-bottom{
  border-bottom: 6px solid var(--color-2);
}
